* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container-fluid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    font-size: 1.4em;
    height: 100vh;
    background-image: linear-gradient(to right top, #04c014, #00c764, #00cc98, #00cdbe, #03cdd6);
}

#container {
    display: flex;
    justify-content: space-around;
    font-size: 1.2em;
    width: 50%;
}

#computer {
    color: red;
}

#result {
    font-size: 1.4em;
}
